<div class="weekly-calendar-container">
    <header>
      <div>
        <h1>Sterowanie urządzeniem ID: {{ deviceId }}</h1>
      </div>
      <button class="logout-button" (click)="onLogout()">Wyloguj</button>
    </header>
  
    <div class="dashboard-container">
      <h1>Panel Sterowania Czujnikami</h1>
  
      <div class="sensor-control">
        <label for="temperatureThreshold">Próg Temperatury (°C):</label>
        <input 
          type="number" 
          id="temperatureThreshold" 
          [(ngModel)]="temperatureThreshold" 
          class="form-control"
        />
      </div>
  
      <div class="sensor-control">
        <label for="mg2Threshold">Próg Czujnika mq2:</label>
        <input 
          type="number" 
          id="mg2Threshold" 
          [(ngModel)]="mg2Threshold" 
          class="form-control"
        />
      </div>
  
      <button (click)="saveSettings()" class="btn-save">Zapisz Ustawienia</button>
      <button (click)="removeDevice()" class="btn-remove">Usuń urządzenie</button>
      <button (click)="navigateToDeviceList()" class="btn-back">Powrót do listy urządzeń</button>
  
      <div *ngIf="message" class="message">
        {{ message }}
      </div>
    </div>
  
  <!-- Wykres temperatury BMP280 -->
  <div class="chart-container">
    <h3>Temperatura (BMP280)</h3>
    <div class="chart-scroll">
      <canvas id="temperatureChart"></canvas>
    </div>
  </div>

  <!-- Wykres MQ2 -->
  <div class="chart-container">
    <h3>Czujnik MQ2 - Stężenie gazu</h3>
    <div class="chart-scroll">
      <canvas id="mq2Chart"></canvas>
    </div>
  </div>
</div>
  