<div class="navbar">
    <h2>Panel Sterowania</h2>
    <div class="navbar-actions">
        <button class="btn-nav" (click)="navigateToDeviceList()">Lista urządzeń</button>
        <button class="btn-logout" (click)="onLogout()">Wyloguj</button>
    </div>
</div>

<div class="device-container">
    <header>
        <h1>Sterowanie urządzeniem: {{ device?.device_name }}</h1>
    </header>

    <!-- Sekcja wskaźników -->
    <div class="gauge-container">
        <div class="sensor-gauge">
            <h3>Aktualna Temperatura</h3>
            <ngx-gauge
                    [value]="(temperature$ | async) ?? 0"
                    [min]="0"
                    [max]="50"
                    label="Temperatura (°C)"
                    [size]="250"
            ></ngx-gauge>
        </div>

        <div class="sensor-gauge">
            <h3>Aktualne Ciśnienie</h3>
            <ngx-gauge
                    [value]="( pressure$ | async) ?? 0"
                    [min]="900"
                    [max]="1100"
                    label="Ciśnienie (hPa)"
                    [size]="250"
            ></ngx-gauge>
        </div>

        <div class="sensor-gauge">
            <h3>Stężenie Gazu</h3>
            <ngx-gauge
                    [value]="(smoke$ | async) ?? 0"
                    [min]="0"
                    [max]="4000"
                    label="MQ2 ppm"
                    [size]="250"
            ></ngx-gauge>
        </div>
    </div>

    <!-- Dashboard - ustawienia progów -->
    <div class="dashboard-container">
        <h1>Ustawienia progów</h1>

        <div class="sensor-control">
            <label for="temperatureThreshold">Próg Temperatury (°C):</label>
            <input
                    type="number"
                    id="temperatureThreshold"
                    [(ngModel)]="temperatureThreshold"
                    class="form-control"
            />
        </div>

        <div class="sensor-control">
            <label for="mg2Threshold">Próg Czujnika MQ2:</label>
            <input
                    type="number"
                    id="mg2Threshold"
                    [(ngModel)]="mg2Threshold"
                    class="form-control"
            />
        </div>

        <button (click)="saveSettings()" class="btn-save">Zapisz Ustawienia</button>

        <div *ngIf="message" class="message">
            {{ message }}
        </div>
    </div>

    <!-- Wyświetlanie alarmu -->
    <div *ngIf="alarmMessage" class="alarm-message-overlay">
        <div class="alarm-message">
            <strong>ALARM:</strong> {{ alarmMessage }}
            <button class="close-btn" (click)="dismissAlarm()">&#10006;</button>
        </div>
    </div>
</div>
