<div class="navbar">
    <h2>Panel Zarządzania Czujnikami</h2>
    <button class="btn-logout" (click)="onLogout()">Wyloguj</button>
</div>

<div class="device-list-container">
    <div class="token-generator">
        <button class="btn-generate-token" (click)="generatePairingToken()">Wygeneruj token parowania</button>
    </div>
    <h1>Lista dostępnych urządzeń</h1>
    <ul>
        <li *ngFor="let device of devices" class="device-item">
            <span class="device-name">{{ device.device_name }}</span>
            <div class="device-actions">
                <button class="btn-configure" (click)="navigateToDeviceControl(device.id)">Konfiguruj</button>
                <button class="btn-remove" (click)="removeDevice(device.id)">Usuń</button>
                <button class="btn-warning" (click)="changeDeviceName(device.id)">Zmień nazwę</button>
            </div>
        </li>
    </ul>
</div>

<!-- Przycisk generowania tokena -->


<!-- Okno modalne z tokenem -->
<div *ngIf="showToken" class="token-overlay">
    <div class="token-modal">
        <h2>Token Parowania</h2>
        <p>{{ pairingToken }}</p>
        <p>Aby sparować urządzenie z twoim kontem, skopiuj ten kod, włącz urządzenie, podłącz się pod ESP32_config WiFi i wprowadź ten kod.</p>
        <button class="btn-close" (click)="closeTokenDisplay()">Zamknij</button>
    </div>
</div>

<div *ngIf="message" class="message">{{ message }}</div>
